header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(173, 137, 189);
    font-family: "gloock", sans-serif;
    font-style: normal;
    max-width: 1600px;
    margin: auto; 

}

body {
    margin: auto;
    background-color: rgb(252, 246, 255);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: "gloock", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    max-width: 1600px;
}

.hero-section, .video-section, .album-section, .merch-section, .contact-section, .purchase-section, .listen-section, .about-section, .payment-info {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    max-width: 1600px;
    margin: auto;
    gap: 3rem;
    background-color: rgba(68, 1, 115, 0.1)
}

.logo img {
width: 200px;
}

.main-nav {
    display: flex;
    gap: 1em;
}

.main-nav a {
    text-decoration: none;
    color: rgb(254, 253, 255);
    font-size: 2rem;
}

.main-nav a:hover {
    color: rgb(128, 100, 144);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
    justify-content: center;
    background-color: rgb(226, 208, 235);
    color: rgb(158, 101, 190);
    font-size: 3rem;
    font-family: "corner-store-jf", sans-serif;
    font-style: normal;
}

.hero h4 {
    font-size: 2rem;
    color: rgb(105, 73, 146);
    font-family: "gloock", sans-serif;
    font-style: normal;
}

.about {
    display: flex;
    align-items: flex-start;
    gap: 20px;              
}

.album-image img {
    width: 300px; 
    height: auto;
    align-self: start;
}

.hero-section p {
color: rgb(106, 72, 133);
background-color: white;
padding: 20px;
border-radius: 20px;
max-width: 500px;
}

.hero-section img {
    max-width: 600px;
}


video {
    max-width: 600px;
    border: 2px solid rgb(119, 94, 163);
}

.album-section img {
    max-width: 600px;
    border-radius: 10px;
}

.audio-track,
.tracklist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
}

.merch-section img {
    max-width: 600px;
    border-radius: 10px;
}

.form-group {
    display:flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 12px;
    width: 100%;
    color: rgb(106, 72, 133);
}

input,
textarea {
    padding: 1rem;
    border-radius: .25rem;
    border: none;
    background: rgba(255,255,255,0.9);
    color: rgb(0, 0, 0);
}

.form-group input {
border: 2px solid; color:rgb(106, 72, 133);
}

.form-group textarea {
border: 2px solid; color: rgb(106, 72, 133);
}

footer {
margin: 1rem;
margin-top: 3rem; 
}

.footer-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgba(133, 37, 202, 0.1);
    border-radius: 1.5rem;
}

.footer-nav a {
    text-decoration: none;
    font-size: 1rem;
}

.footer-nav a:hover {
    color: rgb(199, 164, 255);
}

.footer-nav img {
    width: 150px;
}

.about-section p {
    color: rgb(106, 72, 133);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 1000px;

}

.about-section img {
    max-width: 600px;
}

.tracklist-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    max-width: 1600px;
    margin: auto;
    background-color: rgba(68, 1, 115, 0.1);
}

.tracklist {
    gap: 1rem;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 2rem;
    color: rgb(106, 72, 133);
}

.purchase-section img {
    width: 600px
}

.audio-track {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin: auto;
    max-width: 1600px;
    background-color: rgba(68, 1, 115, 0.1);
}

.container .merch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(133, 37, 202, 0.1);
    padding: 1rem;
    border-radius: 12px;
    width: 20%;
}

.container .merch img {
    max-width: 300px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.container .merch .product-name {
    font-size: 1rem;
    color: rgb(106, 72, 133);
}

.container .merch .pricing {
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.container .merch .product-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.container .merch .item-selection {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.violet-collective {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
    background-color:rgba(68, 1, 115, 0.1);
}

.violet-collective p {
color: rgb(106, 72, 133);

}

.text-box {
    display:flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 12px;
    width: 100%;
    color: rgb(106, 72, 133);
}

.text-box input {
    border: 2px solid; color:rgb(106, 72, 133);
}

.item-selection {
    font-size: 2rem;
    color: rgb(106, 72, 133);
}

h2 {
    background-color: rgb(76, 64, 98);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 2rem;
}

button {
    padding: 1rem 2rem;
    background: rgb(181, 137, 255);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 1rem;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1rem;
}

button:hover {
    background: rgb(138, 67, 176);   
}

.add-to-cart {
    background-color: rgb(237, 76, 216); 
}

